.App {
  text-align: center;
}

.nav{
  display: flex;
  list-style: none;
  gap: 2rem;
  margin: 0;
  padding: 1rem 2rem;
  background-color: black;
}

.nav a:-webkit-any-link{
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}

.emojis{
  font-size: 3rem;
}
